{% extends "base.html" %}


{% block content %}
    

<div id="searchbar">
<!-- Search Bar -->

    <form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
</div>
 {% if errors %}
            {% for error in errors %}
            {{ error }}
            {% endfor %}
 {% endif %}
<!-- Results of search bar -->
{% if search %}    <p>You searched for: <strong>{{ query }}</strong></p>

{% if thread %}
    <p>Found {{ thread|length }} thread{{ thread|pluralize }}.</p>
        <table border="1px" bordercolor=white cellpadding="4" width="100%">
            <tr class='evenodd'>
                <td style="width:25%;"><b>Topics</b></td>
                <td><b>Replies</b></td>
                <td><b>Last post</b></td>
            </tr>
        {% for thread in thread %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td style="vertical-align:top; width:25%;"><p><a href="{% url forum.views.thread thread.pk %}">{{ thread.title }}</a></p></td>
            <td {% if forloop.last %}class="last"{% endif %}>{{ thread.num_replies }}</td>
            <td {% if forloop.last %}class="last"{% endif %}>
            {{ thread.last_post.short|linebreaksbr }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No post matched your search criteria.</p>
{% endif %}
{% endif %}
<!-- end of results-->
{% if not search %}
<br>


<!-- Threads  -->
<a href='../'> Back to the forum list</a>
{% if not search %}
 | <a href="{% url forum.views.post 'new_thread' pk %}">Start New Topic</a>
{% endif %}


<div>
<table  border="1px" bordercolor=white cellpadding="4" width="100%">
    <tr class='evenodd'>
        <td style="vertical-align:top; width:25%;"><b>Topics</b></td>
        <td><b>Replies</b></td>
        <td><b>Last post</b></td>
    </tr>

    {% for thread in threads.object_list %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td style="vertical-align:top; width:25%;"{% if forloop.last %}class="last"{% endif %}>
        <a href="{% url forum.views.thread thread.pk %}">{{ thread.title }}</a>
        </td>
        <td {% if forloop.last %}class="last"{% endif %}>{{ thread.num_replies }}</td>
        <td {% if forloop.last %}class="last"{% endif %}>
            {{ thread.last_post.short|linebreaksbr }}</td>
    </tr>

    {% endfor %}
</table>
</div>

<!-- Next/Prev page links  -->
{% if threads.object_list and threads.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if threads.has_previous %}
            <a href= "?page={{ threads.previous_page_number }}">previous &lt;&lt; </a>
        {% endif %}

        <span class="current">
            &nbsp;Page {{ threads.number }} of {{ threads.paginator.num_pages }}
        </span>

        {% if threads.has_next %}
            <a href="?page={{ threads.next_page_number }}"> &gt;&gt; next</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endif %}

{% endblock %}