{% extends "base.html" %}

{% block content %}

    <form action="/search" method="get">
    <input id="inputsearch" type="text" name="q">
    <input id="inputsearch" type="submit" value="Search">
    </form>
{% if errors %}
    {% for error in errors %}
        {{ error }}
    {% endfor %}
{% endif %}

<br>

<!-- Forums  -->
<div id="list">
    <h2>List of Forums</h2>
<table border="1px" bordercolor=white cellpadding="4" width="100%">
    <tr class='evenodd'>
        <td><b>Choose a dedicated forum</b></td>
        <td><b>Posts</b></td>
        <td><b>Last post</b></td>
    </tr>

    {% for forum in forums %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td {% if forloop.last %}class="last"{% endif %}>
        <div class="title"> <a href="{% url forum.views.forum forum.pk %}">{{ forum.title }}</a>
            </div></td>
        <td {% if forloop.last %}class="last"{% endif %}>{{ forum.num_posts }}</td>
        <td {% if forloop.last %}class="last"{% endif %}>
            {{ forum.last_post.short|linebreaksbr }}</td>
    </tr>

    {% endfor %}
</table>
</div>

{% endblock %}