{% extends "base.html" %}


{% block content %}
    
<!-- Search Bar -->
 {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>

<!-- Results of search bar -->
{% if search %}    <p>You searched for: <strong>{{ query }}</strong></p>

{% if thread %}
    <p>Found {{ thread|length }} thread{{ thread|pluralize }}.</p>
    <div id="list">
        <table border="1" cellpadding="4" width="100%">
            <tr>
                <td>Topics</td>
                <td>Replies</td>
                <td>Last post</td>
            </tr>
        {% for thread in thread %}
        <tr>
            <td><a href="{% url forum.views.thread thread.pk %}">{{ thread.title }}</a></td>
            <td {% if forloop.last %}class="last"{% endif %}>{{ thread.num_replies }}</td>
            <td {% if forloop.last %}class="last"{% endif %}>
            {{ thread.last_post.short|linebreaksbr }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
    <p>No post matched your search criteria.</p>
{% endif %}
{% endif %}
<!-- end of results-->

{% if not search %}
<!-- Forums  -->
<div id="list">
<table border="1" cellpadding="4" width="100%">
    <tr>
        <td>Choose a dedicated forum</td>
        <td>Posts</td>
        <td>Last post</td>
    </tr>

    {% for forum in forums %}
    <tr>
        <td {% if forloop.last %}class="last"{% endif %}>
        <div class="title"> <a href="{% url forum.views.forum forum.pk %}">{{ forum.title }}</a>
            </div></td>
        <td {% if forloop.last %}class="last"{% endif %}>{{ forum.num_posts }}</td>
        <td {% if forloop.last %}class="last"{% endif %}>
            {{ forum.last_post.short|linebreaksbr }}</td>
    </tr>

    {% endfor %}
</table>
</div>
{% endif %}

{% endblock %}