{% extends "base.html" %}



{% block content %}

    <form action="" method="get">
    <input id="inputsearch" type="text" name="q">
    <input id="inputsearch" type="submit" value="Search">
    </form>
{% if errors %}
    {% for error in errors %}
        {{ error }}
    {% endfor %}
{% endif %}

<!-- Results of search bar -->
{% if search %}    <p>You searched for: <strong>{{ query }}</strong></p>

{% if thread %}
    <p>Found {{ thread|length }} thread{{ thread|pluralize }}.</p>
    <div id="list">
        <table border="1px" bordercolor=white cellpadding="4" width="100%">
            <b><tr class='evenodd'>
                <td>Topics</td>
                <td>Replies</td>
                <td>Last post</td>
            </tr></b>
        {% for thread in thread %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{% url forum.views.thread thread.pk %}">{{ thread.title }}</a></td>
            <td {% if forloop.last %}class="last"{% endif %}>{{ thread.num_replies }}</td>
            <td {% if forloop.last %}class="last"{% endif %}>
            {{ thread.last_post.short|linebreaksbr }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
    <p>No post matched your search criteria.</p>
{% endif %}
{% endif %}
<!-- end of results-->
<br>

{% if not search %}
<!-- Forums  -->
<div id="list">
<table border="1px" bordercolor=white cellpadding="4" width="100%">
    <tr class='evenodd'>
        <td><b>Choose a dedicated forum</b></td>
        <td><b>Posts</b></td>
        <td><b>Last post</b></td>
    </tr>

    {% for forum in forums %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td {% if forloop.last %}class="last"{% endif %}>
        <div class="title"> <a href="{% url forum.views.forum forum.pk %}">{{ forum.title }}</a>
            </div></td>
        <td {% if forloop.last %}class="last"{% endif %}>{{ forum.num_posts }}</td>
        <td {% if forloop.last %}class="last"{% endif %}>
            {{ forum.last_post.short|linebreaksbr }}</td>
    </tr>

    {% endfor %}
</table>
</div>
{% endif %}

{% endblock %}